﻿@{
    ViewBag.Title = "Home Page";
}
<div style="background-image: https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-cartoon-illustration-cactus-advertising-background-image_269241.jpg;">
    <div align="center">

        <h1><i><b><u>CACTUS Shop</u></b></i></h1>
        <img src="https://ae01.alicdn.com/kf/HTB1AklFjb3nBKNjSZFMq6yUSFXas/22-Miniature-Fake-Cactus-DIY.jpg_960x960.jpg" width="600">

    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="caption text-center" onclick="location.href='https://flow.microsoft.com/en-us/connectors/shared_slack/slack/'">
                        <div class="position-relative">
                            <img src="https://az818438.vo.msecnd.net/icons/slack.png" style="width:72px;height:72px;" />
                        </div>
                        <h4 id="thumbnail-label"><a href="https://flow.microsoft.com/en-us/connectors/shared_slack/slack/" target="_blank">Microsoft Slack</a></h4>
                        <p><i class="glyphicon glyphicon-user light-red lighter bigger-120"></i>&nbsp;Auditor</p>
                        <div class="thumbnail-description smaller">Slack is a team communication tool, that brings together all of your team communications in one place, instantly searchable and available wherever you go.</div>
                    </div>
                    <div class="caption card-footer text-center">
                        <ul class="list-inline">
                            <li><i class="people lighter"></i>&nbsp;7 Active Users</li>
                            <li></li>
                            <li><i class="glyphicon glyphicon-envelope lighter"></i><a href="#">&nbsp;Help</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="caption text-center" onclick="location.href='https://flow.microsoft.com/en-us/connectors/shared_slack/slack/'">
                        <div class="position-relative">
                            <img src="https://az818438.vo.msecnd.net/icons/slack.png" style="width:72px;height:72px;" />
                        </div>
                        <h4 id="thumbnail-label"><a href="https://flow.microsoft.com/en-us/connectors/shared_slack/slack/" target="_blank">Microsoft Slack</a></h4>
                        <p><i class="glyphicon glyphicon-user light-red lighter bigger-120"></i>&nbsp;Auditor</p>
                        <div class="thumbnail-description smaller">Slack is a team communication tool, that brings together all of your team communications in one place, instantly searchable and available wherever you go.</div>
                    </div>
                    <div class="caption card-footer text-center">
                        <ul class="list-inline">
                            <li><i class="people lighter"></i>&nbsp;7 Active Users</li>
                            <li></li>
                            <li><i class="glyphicon glyphicon-envelope lighter"></i><a href="#">&nbsp;Help</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="caption text-center" onclick="location.href='https://flow.microsoft.com/en-us/connectors/shared_slack/slack/'">
                        <div class="position-relative">
                            <img src="https://az818438.vo.msecnd.net/icons/slack.png" style="width:72px;height:72px;" />
                        </div>
                        <h4 id="thumbnail-label"><a href="https://flow.microsoft.com/en-us/connectors/shared_slack/slack/" target="_blank">Microsoft Slack</a></h4>
                        <p><i class="glyphicon glyphicon-user light-red lighter bigger-120"></i>&nbsp;Auditor</p>
                        <div class="thumbnail-description smaller">Slack is a team communication tool, that brings together all of your team communications in one place, instantly searchable and available wherever you go.</div>
                    </div>
                    <div class="caption card-footer text-center">
                        <ul class="list-inline">
                            <li><i class="people lighter"></i>&nbsp;7 Active Users</li>
                            <li></li>
                            <li><i class="glyphicon glyphicon-envelope lighter"></i><a href="#">&nbsp;Help</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
      </div>
    </div>
