﻿@model workshop._20111.Models.Products

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categories.category_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.category_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suppliers.company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suppliers.company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity_per_unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity_per_unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit_in_stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit_in_stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit_on_order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit_on_order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reorder_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reorder_level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discontinued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discontinued)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgePath)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
