﻿@model workshop._20111.Models.Products

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categories.category_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.category_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suppliers.company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suppliers.company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity_per_unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity_per_unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit_in_stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit_in_stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit_on_order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit_on_order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reorder_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reorder_level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discontinued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discontinued)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgePath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.product_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
