﻿@model IEnumerable<workshop._20111.Models.Products>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categories.category_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suppliers.company_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity_per_unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unit_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unit_in_stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unit_on_order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reorder_level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discontinued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categories.category_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Suppliers.company_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity_per_unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unit_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unit_in_stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unit_on_order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reorder_level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discontinued)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImgePath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.product_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.product_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.product_id })
        </td>
    </tr>
}

</table>
