﻿@model IEnumerable<workshop._20111.Models.Products>

@{
    ViewBag.Title = "Main";
}

@*<h2>Main2</h2>*@
<div class="container">
    <h2 class="text-center">Show Products</h2>
    @foreach (var item in Model)
    {
        <div class="col-md-4" style="border: 2px solid black">
            <div style="text-align:center; border-bottom: 2px solid ">
                <h4>@item.product_name</h4>
            </div>
            <div class="col-md-8">
                <img src="@Url.Content(item.ImgePath)" height="180" width="180" />

                <div class="col-md-4" style="text-align: left">
                    @*<b>@item.unit_in_stock</b>*@
                    <h4>Stock:@item.unit_in_stock</h4>

                </div>
            </div>
            <div class="col-md-8" style="font-size: 18px; border-top: 2px solid maroon; padding: 2px">
                @*<b>@item.unit_price</b>*@
                <h4>Price: @item.unit_price฿</h4>

            </div>
            <div class="col-md-4" style="text-align: right; margin-bottom: 10px; border-top: 2px solid maroon; padding: 2px">
                <input type="button" name="AddToCart" value="Add to Cart" class="btn btn-info" @*itemid="@item.ProductId"*@ id="btnAddToCart" onclick="AddToCart(this)" />

            </div>
        </div>
    }
</div>

