﻿@model workshop._20111.Models.Order_details

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order_details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Orders.ship_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orders.ship_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Products.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
