﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top " style="background-color:  #ddeeff; ">
        <div class="container">
            <div class="navbar-header">
                @* <img src="https://1.bp.blogspot.com/-Txj_ZW8zE0I/W-qG_90tigI/AAAAAAAAApQ/wi-LJvkNCqUfTyqrKK5VjS0sXwVSAFVDACLcBGAs/s1600/download.png" width="90">*@
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Cactus Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                
                
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            @*@ <li>@Html.ActionLink("About", "About", "Home")</li>*@
                            @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                            <li>@Html.ActionLink("ประเภทสินค้า", "Index", "Categories")</li>
                            <li>@Html.ActionLink("สินค้า", "Index", "Products")</li>
                            <li>@Html.ActionLink("รายการสินค้า", "Main", "Products")</li>
                            <li>@Html.ActionLink("ลูกค้า", "Index", "Customers")</li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">จัดการสินค้า<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("เพิ่มสินค้า", "Create", "Orders")</li>
                                    <li>@Html.ActionLink("แก้ไขสินค้า", "Edit", "Orders")</li>

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">รายการสั่งซื้อ<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("สินค้า", "Index", "Products")</li>
                                    <li>@Html.ActionLink("ผู้จัดจำหน่าย", "Index", "Suppliers")</li>
                                </ul>
                        </ul>
                        <img src="https://cdn4.iconfinder.com/data/icons/shopping-in-color/64/shopping-in-color-05-512.png" width="55">

                    
                    <ul class="nav navbar-nav">


                        <li>@Html.ActionLink("ซื้อสินค้า", "Main", "Products")</li>



                    </ul>
               
                

                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Applications</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    }
</body>
</html>
