﻿@model workshop._20111.Models.Orders

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Orders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customers.company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employees.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shippers.company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shippers.company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.required_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.required_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.freight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.freight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ship_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ship_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ship_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ship_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ship_city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ship_city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ship_region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ship_region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ship_postal_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ship_postal_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ship_country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ship_country)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
