﻿@model workshop._20111.Models.Orders

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customers.company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employees.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shippers.company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shippers.company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.required_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.required_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.freight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.freight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ship_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ship_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ship_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ship_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ship_city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ship_city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ship_region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ship_region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ship_postal_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ship_postal_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ship_country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ship_country)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.order_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
