﻿@model IEnumerable<workshop._20111.Models.Orders>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customers.company_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employees.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shippers.company_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.required_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.freight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ship_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ship_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ship_city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ship_region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ship_postal_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ship_country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customers.company_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employees.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shippers.company_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.required_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.freight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ship_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ship_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ship_city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ship_region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ship_postal_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ship_country)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.order_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.order_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.order_id })
        </td>
    </tr>
}

</table>
